.miBoton {
    border: solid $lila-power;
    padding: 2%;
    width: 7rem;
    border-width: 1px;
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: $withe;
    background-color: $lila-light;
    transition: background-color .4s;
    &:hover {
        background-color: $lila-repower;
        cursor: url(././../assets/cursorclic.png), auto;
        
    }
}

