.contenedorHome {
        background-color: $black;
        margin-top: 6%;
        .boxBannerMasImg {
                .boxBanner {
                        height: 100vh;
                        text-align: center;
                        padding-bottom: 10%;
                        padding-top: 10%;
                        background-image: url(././../assets/banner2.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        .imagenPrincipal {
                                width: 40%;
                                margin-top: 18%;
                                -webkit-animation:fade-in-fwd 1s cubic-bezier(.39,.575,.565,1.000) both;
                                animation:fade-in-fwd 1s cubic-bezier(.39,.575,.565,1.000) both;
                        }
                }
               
        }
        .boxSectionBio {
                color: $withe;
                padding: 3%;
                padding-top: 12%;
                padding-bottom: 0%;
                #bioFioen {
                        padding-top: 1%;
                        padding-bottom: 2%;
                        .tituloBio{
                                color: $lila-light;
                                padding-top: 7%;
                                font-size: 400%;
                                font-weight: bold;
                                }
                }
                #bioFio {
                        padding-top: 1%;
                        padding-bottom: 2%;
                        .tituloBio{
                                color: $lila-light;
                                padding-top: 7%;
                                font-size: 400%;
                                font-weight: bold;
                                }
                        }
                .boxTextos{
                        margin-bottom: 0%;
                        padding-bottom: 0%;
                        font-size: 120%;
                        .boxParrafos {
                                text-align: justify;
                                padding-bottom: 2%;
                                        p {
                                                margin-bottom: 0%;
                                        }
                        }
                        .circulito {
                                width: 100%;
                                font-size: 130%;
                                text-align: center;
                                color: $lila-power;
                         }
                }
                        

        }

}